*{
    letter-spacing: 0.8PX;
    line-height: 1.5em;
}
body{
    font-family: 'Noto serif TC', sans-serif;
}
ol.WWlist{
    list-style-type: upper-alpha ;    
}
Ol.WWlist>li:hover{
    background-color: red;
    color: blue;
}
table.wwtable{
    width: 80%;
    background-color: #fcdede;
}
table.wwtable td{
    text-align: center;
}
    table.wwtable th{
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.bg-primary{
    background-image: url(../assets/img/S__71565322.jpg) !important;
    background-repeat: no-repeat ;
    background-size:cover ;
    background-position:center ;
}
.w80{
    width:80%;
    margin:0px 0px 50px 0px;
}
.b{
    color:#9A998C; 
}
.W123 {
    color: rgb(0, 0, 0);
}

.W123:hover {
    color: white;
    background-color: rgb(52, 126, 221);
}
.table-80{
    width: 80%;
}

.darkbg{
    background-color: #9a998c47;
    color: #000000;
}
p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}
.S{
    color:#000000; 
}
 .tt{
    color: #000000;
    line-height: 3em;
    text-align: center;
    display: block;
}
.k {
    padding: 30px 40px;
    padding-bottom: 20px;
    background-color: #cac5bd83;
    border-radius: 30px;
    font-family: 'Noto Serif TC', sans-serif;
}
.center{
    text-align: center;
}
.img {
    width: 200px;
    height: auto;;
}
.oo{
    text-indent: 2em
}
.www80
{
    width: 80%;
    margin: auto;    
}
.pp{
    color: #000000;
    background-color: #9a998c6f;
}
.ppp{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.344);
}