*{
    letter-spacing: 0.8PX;
    line-height: 1.5em;
}
body{
    font-family: 'Noto serif TC', sans-serif;
}
.bg-primary{
    background-color: black !important;
    background-image: url(../assets/img/S__65716229.jpg);
    background-repeat: no-repeat ;
    background-size:cover ;
    background-position:center ;
}
p.r{
    background-color: rgb(180, 43, 43);
    color: hsl(31, 56%, 44%);   
    border: 10px solid #5C8447 ;
    background-image: url(../assets/img/S__65716229.jpg);
    font-size:40px;
    text-align: center;
    text-indent: 2em;
    letter-spacing: 0.8px;
}
.b{
    color:#5C8447;
    text-align: center;
}
.blue{
    background-color: brown;
    color:#C67052;
    text-align: center;
    font-size:40px;
}
.W123 {
    color: rgb(0, 0, 0);
}

.W123:hover {
    color: white;
    background-color: rgb(52, 126, 221);
}